//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 23 09:35:57 2020
//! **************************************************************************

SCHEMATIC START;
COMP "LED1" LOCATE = SITE "P114" LEVEL 1;
COMP "LED2" LOCATE = SITE "P121" LEVEL 1;
SCHEMATIC END;

