
# PlanAhead Generated IO constraints 

NET "dmd_column[15]" IOSTANDARD = LVCMOS33;
NET "dmd_column[14]" IOSTANDARD = LVCMOS33;
NET "dmd_column[13]" IOSTANDARD = LVCMOS33;
NET "dmd_column[12]" IOSTANDARD = LVCMOS33;
NET "dmd_column[11]" IOSTANDARD = LVCMOS33;
NET "dmd_column[10]" IOSTANDARD = LVCMOS33;
NET "dmd_column[9]" IOSTANDARD = LVCMOS33;
NET "dmd_column[8]" IOSTANDARD = LVCMOS33;
NET "dmd_column[7]" IOSTANDARD = LVCMOS33;
NET "dmd_column[6]" IOSTANDARD = LVCMOS33;
NET "dmd_column[5]" IOSTANDARD = LVCMOS33;
NET "dmd_column[4]" IOSTANDARD = LVCMOS33;
NET "dmd_column[3]" IOSTANDARD = LVCMOS33;
NET "dmd_column[2]" IOSTANDARD = LVCMOS33;
NET "dmd_column[1]" IOSTANDARD = LVCMOS33;
NET "dmd_column[0]" IOSTANDARD = LVCMOS33;
NET "dmd_seg[3]" IOSTANDARD = LVCMOS33;
NET "dmd_seg[2]" IOSTANDARD = LVCMOS33;
NET "dmd_seg[1]" IOSTANDARD = LVCMOS33;
NET "dmd_seg[0]" IOSTANDARD = LVCMOS33;
NET "in[15]" IOSTANDARD = LVCMOS33;
NET "in[14]" IOSTANDARD = LVCMOS33;
NET "in[13]" IOSTANDARD = LVCMOS33;
NET "in[12]" IOSTANDARD = LVCMOS33;
NET "in[11]" IOSTANDARD = LVCMOS33;
NET "in[10]" IOSTANDARD = LVCMOS33;
NET "in[9]" IOSTANDARD = LVCMOS33;
NET "in[8]" IOSTANDARD = LVCMOS33;
NET "in[7]" IOSTANDARD = LVCMOS33;
NET "in[6]" IOSTANDARD = LVCMOS33;
NET "in[5]" IOSTANDARD = LVCMOS33;
NET "in[4]" IOSTANDARD = LVCMOS33;
NET "in[3]" IOSTANDARD = LVCMOS33;
NET "in[2]" IOSTANDARD = LVCMOS33;
NET "in[1]" IOSTANDARD = LVCMOS33;
NET "in[0]" IOSTANDARD = LVCMOS33;
NET "seg_digit[3]" IOSTANDARD = LVCMOS33;
NET "seg_digit[2]" IOSTANDARD = LVCMOS33;
NET "seg_digit[1]" IOSTANDARD = LVCMOS33;
NET "seg_digit[0]" IOSTANDARD = LVCMOS33;
NET "seg_pattern[7]" IOSTANDARD = LVCMOS33;
NET "seg_pattern[6]" IOSTANDARD = LVCMOS33;
NET "seg_pattern[5]" IOSTANDARD = LVCMOS33;
NET "seg_pattern[4]" IOSTANDARD = LVCMOS33;
NET "seg_pattern[3]" IOSTANDARD = LVCMOS33;
NET "seg_pattern[2]" IOSTANDARD = LVCMOS33;
NET "seg_pattern[1]" IOSTANDARD = LVCMOS33;
NET "seg_pattern[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "dmd_column[15]" LOC = P67;
NET "dmd_column[14]" LOC = P62;
NET "dmd_column[13]" LOC = P66;
NET "dmd_column[12]" LOC = P61;
NET "dmd_column[11]" LOC = P74;
NET "dmd_column[10]" LOC = P64;
NET "dmd_column[9]" LOC = P78;
NET "dmd_column[8]" LOC = P75;
NET "dmd_column[7]" LOC = P81;
NET "dmd_column[6]" LOC = P87;
NET "dmd_column[5]" LOC = P84;
NET "dmd_column[4]" LOC = P85;
NET "dmd_column[3]" LOC = P82;
NET "dmd_column[2]" LOC = P83;
NET "dmd_column[1]" LOC = P80;
NET "dmd_column[0]" LOC = P79;
NET "dmd_seg[3]" LOC = P46;
NET "dmd_seg[2]" LOC = P55;
NET "dmd_seg[1]" LOC = P92;
NET "dmd_seg[0]" LOC = P97;
NET "in[15]" LOC = P56;
NET "in[14]" LOC = P43;
NET "in[13]" LOC = P44;
NET "in[12]" LOC = P45;
NET "in[11]" LOC = P47;
NET "in[10]" LOC = P48;
NET "in[9]" LOC = P38;
NET "in[8]" LOC = P40;
NET "in[7]" LOC = P41;
NET "in[6]" LOC = P57;
NET "in[5]" LOC = P58;
NET "in[4]" LOC = P59;
NET "in[3]" LOC = P88;
NET "in[2]" LOC = P95;
NET "in[1]" LOC = P93;
NET "in[0]" LOC = P98;
NET "seg_digit[3]" LOC = P111;
NET "seg_digit[2]" LOC = P116;
NET "seg_digit[1]" LOC = P118;
NET "seg_digit[0]" LOC = P124;
NET "seg_pattern[7]" LOC = P126;
NET "seg_pattern[6]" LOC = P105;
NET "seg_pattern[5]" LOC = P112;
NET "seg_pattern[4]" LOC = P102;
NET "seg_pattern[3]" LOC = P104;
NET "seg_pattern[2]" LOC = P123;
NET "seg_pattern[1]" LOC = P120;
NET "seg_pattern[0]" LOC = P115;
NET "CLK" LOC = P94;
NET "DMD_CLK" LOC = P99;
NET "DMD_CLR" LOC = P100;
NET "MCLK" LOC = P51;
NET "RESET" LOC = P101;
NET "SWITCH" LOC = P50;

# PlanAhead Generated IO constraints 

NET "CLK" IOSTANDARD = LVCMOS33;
NET "DMD_CLK" IOSTANDARD = LVCMOS33;
NET "DMD_CLR" IOSTANDARD = LVCMOS33;
NET "MCLK" IOSTANDARD = LVCMOS33;
NET "RESET" IOSTANDARD = LVCMOS33;
NET "SWITCH" IOSTANDARD = LVCMOS33;
