//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 30 10:00:50 2021
//! **************************************************************************

SCHEMATIC START;
COMP "IN_CLR" LOCATE = SITE "P51" LEVEL 1;
COMP "PATTERN<2>" LOCATE = SITE "P123" LEVEL 1;
COMP "PATTERN<3>" LOCATE = SITE "P104" LEVEL 1;
COMP "PATTERN<4>" LOCATE = SITE "P102" LEVEL 1;
COMP "PATTERN<5>" LOCATE = SITE "P112" LEVEL 1;
COMP "PATTERN<6>" LOCATE = SITE "P105" LEVEL 1;
COMP "DIGIT<0>" LOCATE = SITE "P124" LEVEL 1;
COMP "PATTERN<7>" LOCATE = SITE "P126" LEVEL 1;
COMP "DIGIT<1>" LOCATE = SITE "P118" LEVEL 1;
COMP "DIGIT<2>" LOCATE = SITE "P116" LEVEL 1;
COMP "DIGIT<3>" LOCATE = SITE "P111" LEVEL 1;
COMP "D1<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "D1<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "D1<2>" LOCATE = SITE "P44" LEVEL 1;
COMP "D1<3>" LOCATE = SITE "P45" LEVEL 1;
COMP "D2<0>" LOCATE = SITE "P47" LEVEL 1;
COMP "D2<1>" LOCATE = SITE "P48" LEVEL 1;
COMP "D2<2>" LOCATE = SITE "P38" LEVEL 1;
COMP "D2<3>" LOCATE = SITE "P40" LEVEL 1;
COMP "D3<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "D3<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "D3<2>" LOCATE = SITE "P58" LEVEL 1;
COMP "D3<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "D4<0>" LOCATE = SITE "P88" LEVEL 1;
COMP "D4<1>" LOCATE = SITE "P95" LEVEL 1;
COMP "D4<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "D4<3>" LOCATE = SITE "P98" LEVEL 1;
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
COMP "PATTERN<0>" LOCATE = SITE "P115" LEVEL 1;
COMP "PATTERN<1>" LOCATE = SITE "P120" LEVEL 1;
SCHEMATIC END;

