

NET "D1[3]" IOSTANDARD = LVCMOS33;
NET "D1[2]" IOSTANDARD = LVCMOS33;
NET "D1[1]" IOSTANDARD = LVCMOS33;
NET "D1[0]" IOSTANDARD = LVCMOS33;
NET "D2[3]" IOSTANDARD = LVCMOS33;
NET "D2[2]" IOSTANDARD = LVCMOS33;
NET "D2[1]" IOSTANDARD = LVCMOS33;
NET "D2[0]" IOSTANDARD = LVCMOS33;
NET "D3[3]" IOSTANDARD = LVCMOS33;
NET "D3[2]" IOSTANDARD = LVCMOS33;
NET "D3[1]" IOSTANDARD = LVCMOS33;
NET "D3[0]" IOSTANDARD = LVCMOS33;
NET "D4[3]" IOSTANDARD = LVCMOS33;
NET "D4[2]" IOSTANDARD = LVCMOS33;
NET "D4[1]" IOSTANDARD = LVCMOS33;
NET "D4[0]" IOSTANDARD = LVCMOS33;
NET "DIGIT[3]" IOSTANDARD = LVCMOS33;
NET "DIGIT[2]" IOSTANDARD = LVCMOS33;
NET "DIGIT[1]" IOSTANDARD = LVCMOS33;
NET "DIGIT[0]" IOSTANDARD = LVCMOS33;
NET "PATTERN[7]" IOSTANDARD = LVCMOS33;
NET "PATTERN[6]" IOSTANDARD = LVCMOS33;
NET "PATTERN[5]" IOSTANDARD = LVCMOS33;
NET "PATTERN[4]" IOSTANDARD = LVCMOS33;
NET "PATTERN[3]" IOSTANDARD = LVCMOS33;
NET "PATTERN[2]" IOSTANDARD = LVCMOS33;
NET "PATTERN[1]" IOSTANDARD = LVCMOS33;
NET "PATTERN[0]" IOSTANDARD = LVCMOS33;


NET "DIGIT[3]" LOC = P111;
NET "DIGIT[2]" LOC = P116;
NET "DIGIT[1]" LOC = P118;
NET "DIGIT[0]" LOC = P124;
NET "PATTERN[7]" LOC = P126;
NET "PATTERN[6]" LOC = P105;
NET "PATTERN[5]" LOC = P112;
NET "PATTERN[4]" LOC = P102;
NET "PATTERN[3]" LOC = P104;
NET "PATTERN[2]" LOC = P123;
NET "PATTERN[1]" LOC = P120;
NET "PATTERN[0]" LOC = P115;


NET "CLK" IOSTANDARD = LVCMOS33;
NET "IN_CLR" IOSTANDARD = LVCMOS33;


NET "CLK" LOC = P94;
NET "IN_CLR" LOC = P51;

# PlanAhead Generated physical constraints 

NET "D4[3]" LOC = P98;
NET "D4[2]" LOC = P93;
NET "D4[1]" LOC = P95;
NET "D4[0]" LOC = P88;
NET "D3[0]" LOC = P41;
NET "D3[1]" LOC = P57;
NET "D3[3]" LOC = P59;
NET "D3[2]" LOC = P58;
NET "D2[3]" LOC = P40;
NET "D2[2]" LOC = P38;
NET "D2[1]" LOC = P48;
NET "D2[0]" LOC = P47;
NET "D1[3]" LOC = P45;
NET "D1[2]" LOC = P44;
NET "D1[1]" LOC = P43;
NET "D1[0]" LOC = P56;
