
# PlanAhead Generated IO constraints 

NET "DOUT[7]" IOSTANDARD = LVCMOS33;
NET "DOUT[6]" IOSTANDARD = LVCMOS33;
NET "DOUT[5]" IOSTANDARD = LVCMOS33;
NET "DOUT[4]" IOSTANDARD = LVCMOS33;
NET "DOUT[3]" IOSTANDARD = LVCMOS33;
NET "DOUT[2]" IOSTANDARD = LVCMOS33;
NET "DOUT[1]" IOSTANDARD = LVCMOS33;
NET "DOUT[0]" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "D1" IOSTANDARD = LVCMOS33;
NET "D2" IOSTANDARD = LVCMOS33;
NET "D3" IOSTANDARD = LVCMOS33;
NET "RESET" IOSTANDARD = LVCMOS33;
NET "REVERSE" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "CLK" LOC = P94;
NET "D1" LOC = P124;
NET "D2" LOC = P118;
NET "D3" LOC = P116;
NET "RESET" LOC = P101;
NET "REVERSE" LOC = P98;
NET "DOUT[0]" LOC = P115;
NET "DOUT[1]" LOC = P120;
NET "DOUT[2]" LOC = P123;
NET "DOUT[3]" LOC = P104;
NET "DOUT[4]" LOC = P102;
NET "DOUT[5]" LOC = P112;
NET "DOUT[6]" LOC = P105;
NET "DOUT[7]" LOC = P126;