//! **************************************************************************
// Written by: Map P.20131013 on Sat Dec 26 23:47:45 2020
//! **************************************************************************

SCHEMATIC START;
COMP "DOUT<0>" LOCATE = SITE "P115" LEVEL 1;
COMP "DOUT<1>" LOCATE = SITE "P120" LEVEL 1;
COMP "DOUT<2>" LOCATE = SITE "P123" LEVEL 1;
COMP "DOUT<3>" LOCATE = SITE "P104" LEVEL 1;
COMP "DOUT<4>" LOCATE = SITE "P102" LEVEL 1;
COMP "DOUT<5>" LOCATE = SITE "P112" LEVEL 1;
COMP "DOUT<6>" LOCATE = SITE "P105" LEVEL 1;
COMP "DOUT<7>" LOCATE = SITE "P126" LEVEL 1;
COMP "REVERSE" LOCATE = SITE "P98" LEVEL 1;
COMP "D1" LOCATE = SITE "P124" LEVEL 1;
COMP "D2" LOCATE = SITE "P118" LEVEL 1;
COMP "D3" LOCATE = SITE "P116" LEVEL 1;
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
COMP "RESET" LOCATE = SITE "P101" LEVEL 1;
SCHEMATIC END;

