
# PlanAhead Generated IO constraints 

NET "column_seg[3]" IOSTANDARD = LVCMOS33;
NET "column_seg[2]" IOSTANDARD = LVCMOS33;
NET "column_seg[1]" IOSTANDARD = LVCMOS33;
NET "column_seg[0]" IOSTANDARD = LVCMOS33;
NET "in_column[15]" IOSTANDARD = LVCMOS33;
NET "in_column[14]" IOSTANDARD = LVCMOS33;
NET "in_column[13]" IOSTANDARD = LVCMOS33;
NET "in_column[12]" IOSTANDARD = LVCMOS33;
NET "in_column[11]" IOSTANDARD = LVCMOS33;
NET "in_column[10]" IOSTANDARD = LVCMOS33;
NET "in_column[9]" IOSTANDARD = LVCMOS33;
NET "in_column[8]" IOSTANDARD = LVCMOS33;
NET "in_column[7]" IOSTANDARD = LVCMOS33;
NET "in_column[6]" IOSTANDARD = LVCMOS33;
NET "in_column[5]" IOSTANDARD = LVCMOS33;
NET "in_column[4]" IOSTANDARD = LVCMOS33;
NET "in_column[3]" IOSTANDARD = LVCMOS33;
NET "in_column[2]" IOSTANDARD = LVCMOS33;
NET "in_column[1]" IOSTANDARD = LVCMOS33;
NET "in_column[0]" IOSTANDARD = LVCMOS33;
NET "out_column[15]" IOSTANDARD = LVCMOS33;
NET "out_column[14]" IOSTANDARD = LVCMOS33;
NET "out_column[13]" IOSTANDARD = LVCMOS33;
NET "out_column[12]" IOSTANDARD = LVCMOS33;
NET "out_column[11]" IOSTANDARD = LVCMOS33;
NET "out_column[10]" IOSTANDARD = LVCMOS33;
NET "out_column[9]" IOSTANDARD = LVCMOS33;
NET "out_column[8]" IOSTANDARD = LVCMOS33;
NET "out_column[7]" IOSTANDARD = LVCMOS33;
NET "out_column[6]" IOSTANDARD = LVCMOS33;
NET "out_column[5]" IOSTANDARD = LVCMOS33;
NET "out_column[4]" IOSTANDARD = LVCMOS33;
NET "out_column[3]" IOSTANDARD = LVCMOS33;
NET "out_column[2]" IOSTANDARD = LVCMOS33;
NET "out_column[1]" IOSTANDARD = LVCMOS33;
NET "out_column[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "column_seg[3]" LOC = P46;
NET "column_seg[2]" LOC = P55;
NET "column_seg[1]" LOC = P92;
NET "column_seg[0]" LOC = P97;
NET "in_column[15]" LOC = P56;
NET "in_column[14]" LOC = P43;
NET "in_column[13]" LOC = P44;
NET "in_column[12]" LOC = P45;
NET "in_column[11]" LOC = P47;
NET "in_column[10]" LOC = P48;
NET "in_column[9]" LOC = P38;
NET "in_column[8]" LOC = P40;
NET "in_column[7]" LOC = P41;
NET "in_column[6]" LOC = P57;
NET "in_column[5]" LOC = P58;
NET "in_column[4]" LOC = P59;
NET "in_column[3]" LOC = P88;
NET "in_column[2]" LOC = P95;
NET "in_column[1]" LOC = P93;
NET "in_column[0]" LOC = P98;
NET "out_column[15]" LOC = P67;
NET "out_column[14]" LOC = P62;
NET "out_column[13]" LOC = P66;
NET "out_column[12]" LOC = P61;
NET "out_column[11]" LOC = P74;
NET "out_column[10]" LOC = P64;
NET "out_column[9]" LOC = P78;
NET "out_column[8]" LOC = P75;
NET "out_column[7]" LOC = P81;
NET "out_column[6]" LOC = P87;
NET "out_column[5]" LOC = P84;
NET "out_column[4]" LOC = P85;
NET "out_column[3]" LOC = P82;
NET "out_column[2]" LOC = P83;
NET "out_column[1]" LOC = P80;
NET "out_column[0]" LOC = P79;
NET "CLK" LOC = P94;
NET "COLUMN_CLK" LOC = P99;
NET "IN_CLR" LOC = P50;
NET "LOAD" LOC = P51;
NET "OUT_CLR" LOC = P100;
NET "RESET" LOC = P101;

# PlanAhead Generated IO constraints 

NET "CLK" IOSTANDARD = LVCMOS33;
NET "COLUMN_CLK" IOSTANDARD = LVCMOS33;
NET "IN_CLR" IOSTANDARD = LVCMOS33;
NET "LOAD" IOSTANDARD = LVCMOS33;
NET "RESET" IOSTANDARD = LVCMOS33;
NET "OUT_CLR" IOSTANDARD = LVCMOS33;
