//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 13 09:22:10 2020
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "P121" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P114" LEVEL 1;
COMP "F<0>" LOCATE = SITE "P88" LEVEL 1;
COMP "F<1>" LOCATE = SITE "P95" LEVEL 1;
COMP "F<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "F<3>" LOCATE = SITE "P98" LEVEL 1;
SCHEMATIC END;

