
# PlanAhead Generated IO constraints 

NET "CLK" IOSTANDARD = LVCMOS33;
NET "D1" IOSTANDARD = LVCMOS33;
NET "D2" IOSTANDARD = LVCMOS33;
NET "D3" IOSTANDARD = LVCMOS33;
NET "D4" IOSTANDARD = LVCMOS33;
NET "D_out1" IOSTANDARD = LVCMOS33;
NET "D_out2" IOSTANDARD = LVCMOS33;
NET "D_out3" IOSTANDARD = LVCMOS33;
NET "D_out4" IOSTANDARD = LVCMOS33;
NET "D_out5" IOSTANDARD = LVCMOS33;
NET "D_out6" IOSTANDARD = LVCMOS33;
NET "D_out7" IOSTANDARD = LVCMOS33;
NET "SW1" IOSTANDARD = LVCMOS33;
NET "D_out8" IOSTANDARD = LVCMOS33;
NET "SW2" IOSTANDARD = LVCMOS33;
NET "SW6" IOSTANDARD = LVCMOS33;
NET "SW7" IOSTANDARD = LVCMOS33;
NET "SW8" IOSTANDARD = LVCMOS33;
NET "SW9" IOSTANDARD = LVCMOS33;
NET "SW12" IOSTANDARD = LVCMOS33;
NET "SW13" IOSTANDARD = LVCMOS33;
NET "SW14" IOSTANDARD = LVCMOS33;
NET "SW15" IOSTANDARD = LVCMOS33;
NET "SW17" IOSTANDARD = LVCMOS33;
NET "SW18" IOSTANDARD = LVCMOS33;
NET "SW22" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "CLK" LOC = P94;
NET "D1" LOC = P124;
NET "D2" LOC = P118;
NET "D3" LOC = P116;
NET "D4" LOC = P111;
NET "D_out1" LOC = P115;
NET "D_out2" LOC = P120;
NET "D_out3" LOC = P123;
NET "D_out4" LOC = P104;
NET "D_out5" LOC = P102;
NET "D_out6" LOC = P112;
NET "D_out7" LOC = P105;
NET "D_out8" LOC = P126;
NET "SW1" LOC = P98;
NET "SW2" LOC = P93;
NET "SW6" LOC = P58;
NET "SW7" LOC = P57;
NET "SW8" LOC = P41;
NET "SW9" LOC = P40;
NET "SW12" LOC = P47;
NET "SW14" LOC = P44;
NET "SW13" LOC = P45;
NET "SW15" LOC = P43;
NET "SW17" LOC = P51;
NET "SW18" LOC = P50;
NET "SW22" LOC = P101;
