//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 12 13:31:25 2021
//! **************************************************************************

SCHEMATIC START;
COMP "SW2" LOCATE = SITE "P93" LEVEL 1;
COMP "SW15" LOCATE = SITE "P43" LEVEL 1;
COMP "SW17" LOCATE = SITE "P51" LEVEL 1;
COMP "SW6" LOCATE = SITE "P58" LEVEL 1;
COMP "SW18" LOCATE = SITE "P50" LEVEL 1;
COMP "SW7" LOCATE = SITE "P57" LEVEL 1;
COMP "SW8" LOCATE = SITE "P41" LEVEL 1;
COMP "SW9" LOCATE = SITE "P40" LEVEL 1;
COMP "D_out1" LOCATE = SITE "P115" LEVEL 1;
COMP "D_out2" LOCATE = SITE "P120" LEVEL 1;
COMP "D_out3" LOCATE = SITE "P123" LEVEL 1;
COMP "D_out4" LOCATE = SITE "P104" LEVEL 1;
COMP "D1" LOCATE = SITE "P124" LEVEL 1;
COMP "D_out5" LOCATE = SITE "P102" LEVEL 1;
COMP "D2" LOCATE = SITE "P118" LEVEL 1;
COMP "D_out6" LOCATE = SITE "P112" LEVEL 1;
COMP "D3" LOCATE = SITE "P116" LEVEL 1;
COMP "D_out7" LOCATE = SITE "P105" LEVEL 1;
COMP "D4" LOCATE = SITE "P111" LEVEL 1;
COMP "D_out8" LOCATE = SITE "P126" LEVEL 1;
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
COMP "SW12" LOCATE = SITE "P47" LEVEL 1;
COMP "SW13" LOCATE = SITE "P45" LEVEL 1;
COMP "SW1" LOCATE = SITE "P98" LEVEL 1;
COMP "SW14" LOCATE = SITE "P44" LEVEL 1;
COMP "SW22" LOCATE = SITE "P101" LEVEL 1;
SCHEMATIC END;

