//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 03 16:32:31 2020
//! **************************************************************************

SCHEMATIC START;
COMP "O1" LOCATE = SITE "P121" LEVEL 1;
COMP "O2" LOCATE = SITE "P114" LEVEL 1;
COMP "A" LOCATE = SITE "P98" LEVEL 1;
COMP "B" LOCATE = SITE "P93" LEVEL 1;
COMP "C" LOCATE = SITE "P95" LEVEL 1;
COMP "D" LOCATE = SITE "P88" LEVEL 1;
SCHEMATIC END;

