
# PlanAhead Generated IO constraints 

NET "A" IOSTANDARD = LVCMOS33;
NET "B" IOSTANDARD = LVCMOS33;
NET "C" IOSTANDARD = LVCMOS33;
NET "D" IOSTANDARD = LVCMOS33;
NET "O2" IOSTANDARD = LVCMOS33;
NET "O1" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "A" LOC = P98;
NET "B" LOC = P93;
NET "C" LOC = P95;
NET "D" LOC = P88;
NET "O1" LOC = P121;
NET "O2" LOC = P114;
