
# PlanAhead Generated IO constraints 

NET "DOUT[7]" IOSTANDARD = LVCMOS33;
NET "DOUT[6]" IOSTANDARD = LVCMOS33;
NET "DOUT[5]" IOSTANDARD = LVCMOS33;
NET "DOUT[4]" IOSTANDARD = LVCMOS33;
NET "DOUT[3]" IOSTANDARD = LVCMOS33;
NET "DOUT[2]" IOSTANDARD = LVCMOS33;
NET "DOUT[1]" IOSTANDARD = LVCMOS33;
NET "DOUT[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "DOUT[7]" LOC = P126;
NET "DOUT[6]" LOC = P105;
NET "DOUT[5]" LOC = P112;
NET "DOUT[4]" LOC = P102;
NET "DOUT[3]" LOC = P104;

# PlanAhead Generated IO constraints 

NET "CLK" IOSTANDARD = LVCMOS33;
NET "SIG1" IOSTANDARD = LVCMOS33;
NET "SIG2" IOSTANDARD = LVCMOS33;
NET "SW1" IOSTANDARD = LVCMOS33;
NET "SW7" IOSTANDARD = LVCMOS33;
NET "SW6" IOSTANDARD = LVCMOS33;
NET "SW5" IOSTANDARD = LVCMOS33;
NET "SW4" IOSTANDARD = LVCMOS33;
NET "SW3" IOSTANDARD = LVCMOS33;
NET "SW2" IOSTANDARD = LVCMOS33;
NET "SW8" IOSTANDARD = LVCMOS33;
NET "SW17" IOSTANDARD = LVCMOS33;
NET "SW18" IOSTANDARD = LVCMOS33;
NET "SW22" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "CLK" LOC = P94;
NET "DOUT[0]" LOC = P115;
NET "DOUT[1]" LOC = P120;
NET "DOUT[2]" LOC = P123;
NET "SIG1" LOC = P124;
NET "SIG2" LOC = P118;
NET "SW1" LOC = P98;
NET "SW2" LOC = P93;
NET "SW3" LOC = P95;
NET "SW4" LOC = P88;
NET "SW5" LOC = P59;
NET "SW6" LOC = P58;
NET "SW7" LOC = P57;
NET "SW8" LOC = P41;
NET "SW17" LOC = P51;
NET "SW18" LOC = P50;
NET "SW22" LOC = P101;
